body
{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.card
{
    
    height: 360px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    margin: 50px; 
}
#card_container
{
    display: flex;
    justify-content: center;
}
.picture_container
{
    text-align: center;
    margin: 10px
}

.picture
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
    
}

.name
{
    color: black;
    font-weight: bold;

}
.occupation
{
    font-size: 10px;

}

.description
{
    font-size: 10px;
    size: 5px;
    color: black;
    text-align: center;
}

#button
{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2px;
}

.first
{

    background-color: black;
    color: white;
    width: 100px;
    gap: 10px;
    margin-left: 10px;

}

.first:hover
{
    background-color: white;
    color: black;
}


.second
{
    background-color: white;
    color: black;
    width: 100px;
    gap: 5px;
    margin-right: 10px;    
}

.second:hover
{
    background-color: black;
    color: white;
}

.logo
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image
{
    height: 30px;
    width: 30px;
    margin-top: 30px;
}

.info_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}
.info-1
{
    height: 10px;
    width: 10px;
    font-size: 10px;
    display: flex; 
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info-2
{
    height: 10px;
    width: 10px;
    font-size: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;

}



